
*.xcuserstate

YardOps.xcodeproj/project.xcworkspace/xcuserdata/abf.xcuserdatad/UserInterfaceState.xcuserstate

YardOps.xcodeproj/xcuserdata/abf.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcbkptlist

YardOps.xcodeproj/xcuserdata/loaner.xcuserdatad/xcschemes/xcschememanagement.plist

YardOps.xcodeproj/xcuserdata/loaner.xcuserdatad/xcschemes/YardOps.xcscheme

YardOps.xcodeproj/xcuserdata/abf.xcuserdatad/xcschemes/xcschememanagement.plist

YardOps.xcodeproj/xcuserdata/abf.xcuserdatad/xcschemes/YardOps.xcscheme
